// Color Palette
$dark-navy: #0a192f;
$light-slate: #ccd6f6; 
$slate: #8892b0; 
$accent-color: #64ffda; 


// Font Families
$font-sans: 'Poppins', sans-serif;
$font-mono: 'Roboto Mono', monospace; // Code snippets or special text